.select-input select,
.date-input select,
.time-input select
{
    @include reset-appearance;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxMCI+PHBhdGggZD0iTTE2IDJsLTggOC04LTggMi0yIDYgNiA2LTYgMiAyeiIvPjwvc3ZnPg==);
    background-color: white;
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    background-size: 12px;
    -moz-appearance: none;
    select{
        @include reset-appearance;
        -moz-appearance: none;
    }
    &:disabled{
        background-color: $gray-very-light;
    }
}


